<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="71ce04bb-72d4-434d-a042-a74fd7d8a4e2"
    Publisher="CN=Gustaf"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="71ce04bb-72d4-434d-a042-a74fd7d8a4e2" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>GoldStarr-YSYS-OP1-Grupp1</DisplayName>
    <PublisherDisplayName>Gustaf</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="GoldStarr_YSYS_OP1_Grupp1.App">
      <uap:VisualElements
        DisplayName="GoldStarr-YSYS-OP1-Grupp1"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Description="GoldStarr-YSYS-OP1-Grupp1"
        BackgroundColor="transparent" Square44x44Logo="Assets\doge.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Assets\doge.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>